// out: ../css/style.css, sourcemap: true, compress: true

// VARIABLES :
@white : #fff;
@black: #000;
@black-transparent: rgba(0, 0, 0, 0.5);
@transparentGrey: rgba(255, 255, 255, 0.4);
@transparentGrey2: rgba(119, 119, 119, 0.61);
@transparentGrey3: rgba(201, 197, 197, 0.8);
@transparentWhite: rgba(255, 255, 255, 0.8);
@light-grey: rgb(207, 207, 207);
@grey: rgb(122, 122, 122);
@blue:#069EEA;
.hide {
  display: none;
}

#lock-screen {
  margin: 0;
  background-image: url(../img/background.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  box-sizing: border-box;
  position: relative;
}

.filtre-modal {
  width: 100%;
  height: 100vh;
  background-color: @black-transparent;
  z-index: 10;
  position: absolute;
}

.filtre-brightness {
  width: 100%;
  height: 100vh;
  background-color: @black-transparent;
  z-index: 200;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.panel-btn-container {
  position: absolute;
  width: 100%;
  display: flex;
  .panel-button {
    margin: auto;
    width: 40px;
    height: 8px;
    border-radius: 20px;
    background-color: @transparentGrey;
  }
}

header {
  z-index: 100;
  width: 100%;
  position: fixed;
  color: @white;
  ul {
    display: flex;
    align-items: center;
    &:nth-child(1) {
      li:nth-child(2) {
        margin-left: 0;
      }
    }
    li {
      margin: 0 4px;
      font-size: 0.9rem;
      display: inline-block;
    }
  }
  #panel-top-btn-container {
    top: 10px;
  }
  #left-header, #center-header, #right-header {
    margin: 5px 0;
  }
  #left-header {
    justify-content: flex-start;
    .round {
      margin: 0 1px;
      height: 7px;
      width: 7px;
      border-radius: 100%;
      border: 1px solid @white;
      background-color: @white;
    }
    .empty {
      background-color: transparent;
    }
  }

  #center-header {
    display: flex;
    justify-content: center;
  }
  #right-header {
    justify-content: flex-end;
  }
}

.extra-spacing-1 {
  height: 50px;
}

.extra-spacing-2 {
  height: 76px;
}

/* ================ PAGE LOCK =============== */




#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
  color: @white;
  #date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 6rem;
      font-weight: 100;
      margin: 30px 0 5px 0;
    }
    p {
      margin: 0;
      font-size: 1.2rem;
    }
  }
  #unlock {
    align-items: center;
    h2 {
      i {
        font-size: 2rem;
        margin-right: 10px;
      }
      font-size: 1.5rem;
      color: @white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#menu-scroll-bot {
  background-color: @transparentGrey3;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 50;

  .row {
    width: 100%;
  }
  #close-scroll-menu {
    display: flex;
    justify-content: center;
    color: @black;
    margin-bottom: 0;
    .arrow-down-img {
      background-image: url(../img/Arrow-Down-icon.png);
      background-size: contain;
      background-position: center;
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
    }
  }
  ul {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    .menu-icon {
      background-color: @transparentGrey2;
      color: @black;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      box-shadow: none;
      i {
        font-size: 1.5rem;
      }
    }
    .active-icon {
      background-color: @white;
    }
  }

  #luminosity, #sound-volume {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      margin: 0 10px;
      width: 70%;
      display: flex;
      align-items: center;
      input {
        margin: 0;
        border: none;
        transform: rotate(180deg);
      }
      span {
        display: none;
      }
    }
  }

  #luminosity {
    background-color: @transparentGrey2;
    padding: 10px 0;
    margin-bottom: 5px;
    input[type='range'] {

    }
    div {
      &:nth-child(1) {
        font-size: 0.7rem;
      }
    }
  }

  #music {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    #music-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 5px 0;
      height: 40px;
      h3, p {
        margin: 3px 0;
      }
      h3 {
        font-size: 1.1rem;
        color: @white;
      }
      p {
        font-size: 0.9rem;
      }
    }
    ul {
      width: 50%;
      margin-top: 10px;
      i {
        font-size: 1.6rem;
        transition: 0.2s;
        &:active {
          color: @transparentGrey2;
        }
      }
    }
    #sound-volume {
      margin: 10px 0;
    }
  }

  #airplay {
    .airplay-active {
      filter: invert(100);
      // filter: brightness(100);
    }
    .airplay-pict-active {
    }
    .container-airplay {
      background-color: @transparentGrey2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;

      p {
        font-size: 0.9rem;
      }
      figure {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        height: 25px;
        width: 40px;
      }
      #airplay-pict {
        background-image: url(../img/Airplay.png);
      }
      #airdrop-pict {
        background-image: url(../img/airdrop.png);
      }
    }
  }

  #buttons-down {
    .menu-icon {
      border-radius: 10px;
      height: 60px;
      width: 60px;
      i {
        font-size: 1.8rem;
      }
    }
  }
}

footer {
  bottom: 0;
  #panel-bottom-btn-container {
    bottom: 15px;
  }
  #camera-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    a {
      color: @transparentGrey;
      .fa-camera {
        font-size: 1.8rem;
      }
    }
  }
}

.blink {
  animation: blink 3s ease infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}








/* ===========  PAGE MENU  ===================== */




#menu {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

  header {
    margin-bottom: 5px;
  }
  #gallery, footer {
    box-sizing: border-box;
    .row {
      display: flex;
      margin-bottom: 5px;

      .app-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: @white;
        margin: 0;
        transition: 0.3s;
        &:active {
          .app-icon {
            -webkit-filter: brightness(0.5);
            filter: brightness(0.5);

          }
        }

        .app-icon {
          background-image: url(../img/message.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 55px;
          width: 60px;
          margin: 0;
        }
        p {
          margin: 5px 0 0 0;
          font-size: 0.67rem;
        }
      }
    }
  }

  #gallery {
    height: 65vh;
    overflow: hidden;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 15px 0;
    .row {
      margin: 0;
      .app-container {
        &:nth-child(1) {
          .app-icon {
            background-image: url(../img/message.png);
          }
        }
        &:nth-child(2) {
          .app-icon {
            background-image: url(../img/clock.png);
          }
        }
        &:nth-child(3) {
          .app-icon {
            background-image: url(../img/clock.png);
          }
        }
        &:nth-child(4) {
          .app-icon {
            background-image: url(../img/camera.png);
          }
        }
      }
      p {
        margin-bottom: 0 !important;
      }
    }
  }
}






/*========== PAGE REPERTOIRE ===================*/



#repertoire, #messages {
  header {
    color: @black;
    background-color: #F9F9F9;
    border-bottom: 1px solid rgb(214, 214, 214);
    .round {
      border-color: @black;
      background-color: @black;
    }
    .empty {
      background-color: transparent;
    }
    .row {
      margin: 0;
      &:nth-child(2) {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 10px;
        .s4 {
          &:nth-child(2) {
            text-align: center;
            font-size: 1.3rem;
            margin: 0;
          }
          &:nth-child(3) {
            text-align: right;
          }
        }
      }
    }
    .message-header {
      a:nth-child(3) {
        display: flex;
        justify-content: flex-end;
        figure {
          background-image: url(../img/typecompose.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 20px;
          width: 20px;
          margin: 0;
          filter: custom();
        }
      }


    }
  }
  #repertoire-main {
    .row {
      margin: 0;

      &:nth-child(2) {
        .contact-pict {
          background-image: url(../img/user1.jpg);
        }
      }
      &:nth-child(3) {
        .contact-pict {
          background-image: url(../img/user2.jpg);
        }
      }
    }
    #search-container {
      background-color: rgb(185, 185, 185);
      display: flex;
      justify-content: center;
      padding: 10px;
      box-sizing: border-box;
      input {
        margin: 0;
        background-color: @white;
        text-align: center;
        padding: 5px 10px;
        height: 20px;
        border-radius: 5px;
        border: none;
      }
    }
    .contact-id-container {
      display: flex;
      align-items: flex-start;
      padding: 10px 0;
      height: 76.4px;
      border-bottom: 1px solid @light-grey;

      .contact-pict {
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 55px;
        width: 55px;
        margin: 0;
        align-self: center;
      }
      .contact-name {
        padding: 0;
        h3 {
          font-size: 1rem;
          font-weight: bold;
          margin: 0;
          color: @black;
        }
        p {
          margin-top: 5px;
        }
      }

      p {
        color: @grey;
      }
      .contact-to-sms {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        span {
          height: auto;
          padding-left: 10px;
          font-size: 1.5rem;
        }
      }
    }
  }
}





/*================== MESSAGES ================ */

#messages {

  .toUppercase {
    text-transform: uppercase;
  }
  #messages-sent {
    height: 85vh;
    display: flex;
    flex-direction: column;
    .message {
      max-width: 85%;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 10px;
      position: relative;
      p{
        margin: 0;
      }
    }
    .user {
      align-self: flex-end;
      background-color: @blue;
      color: @white;
      &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        right: -6px;
        bottom: 0px;
        border: 10px solid;
        transform: rotate(90deg);
        border-radius: 10px;
        z-index: -1;
        border-color: transparent @blue @blue transparent;
      }
    }
    .other-user {
      align-self: flex-start;
      background-color: @light-grey;

      &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -6px;
        bottom: 0px;
        border: 10px solid;
        border-radius: 10px;
        z-index: -1;
        border-color: transparent @light-grey @light-grey transparent;
      }
    }
    .date {
      font-size: 0.8rem;
      color: @grey;
      margin: 10px 0;
    }
  }

  #writing {
    position: fixed;
    bottom: 0;
    width: 100%;
    #writing-bar {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 -1px 1px @transparentGrey3;
      background-color: #F9F9F9;
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;
      form {
        width: 80%;
        input {
          background-color: @white;
          height: 25px;
          margin: 0;
          border-radius: 3px;
          border: none;
          box-sizing: border-box;
          box-shadow: inset 2px 1px 2px @transparentGrey2;
          color: @grey;
          padding: 2px 5px;
        }
      }
      a {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .fa-camera {
        color: @grey;
        font-size: 1.3rem;
      }
      .micro-container {
        height: 27px;
        width: 27px;
        font-size: 1.2rem;
        color: #F9F9F9;
        background-color: @grey;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    #keyboard {
      display: none;
      .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: @light-grey;
        margin-bottom: 0;

        .letter {
          height: 30px;
          width: 25px;
          background-color: @white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          border-radius: 3px;
          box-shadow: 0 2px 0 @transparentGrey2;
          cursor: pointer;
          text-transform: uppercase;

          &:active {
            background-color: @grey;
            box-shadow: inset 2px 1px 2px @black-transparent;
          }
        }
        .special {
          color: @white;
          background-color: lighten(@grey, 20%);
          width: 35px;
        }
        .maj {
          margin-right: 12px;
        }
        .delete {
          margin-left: 12px;
        }
        .return {
          width: 70px;
        }
        .space {
          width: 65px;
        }
      }
    }
  }
}
